<!DOCTYPE html>
<html>
  <head>
    <title>Tumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="sidebar">
      <ul>
        <li><%= link_to "Tumblr", root_path %></li>
        <li><%= link_to "Posts", root_path %></li>
        <li>About</li>
      </ul>
    </div>
    <div class="main-content">
      <div class="header">
        <p>Post Feed</p>
        <% if user_signed_in? %>
          <div>
            <button><%= link_to  "New post", new_post_path %></button>
            <button><%= link_to  "Logout", destroy_user_session_path, method: :delete %></button>
          </div>
        <% else %>
          <div>
            <button><%= link_to  "Login", new_user_session_path %></button>
            <button><%= link_to  "Signup", new_user_registration_path %></button>
          </div>
        <% end%>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
